
@font-face {
  font-family: linkFont;
  src: url("/fonts/ColabReg.woff") format("truetype");
  font-weight: normal;
  /*  src: url(/fonts/ColabReg.woff);*/
}

@font-face {
  font-family: linkFont;
  src: url("/fonts/ColabBol.woff") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: bodyFont;
  src: url("/fonts/Enriqueta-Regular.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: bodyFont;
  src: url("/fonts/Enriqueta-Bold.woff") format("truetype");
  font-weight: bold;
}
