@font-face {
  font-family: linkFont;
  src: url(../fonts/ColabReg.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: linkFont;
  src: url(../fonts/ColabBol.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: bodyFont;
   src: url(../fonts/Enriqueta-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: bodyFont;
  src: url(../fonts/Enriqueta-Bold.ttf) format("truetype");
  font-weight: bold;
}
