$uf-orange: #b84300;
$uf-orange-lighter: lighten($uf-orange, 20%);
$uf-blue: #00529b;
$uf-blue-lighter: lighten($uf-blue, 10%);
$uf-menu-bg: #fffdf5;
$uf-menu-border:#eae5d7;
$separator-color:lightgray;

$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;

$main-page-width:100%;
$drop-down-menu-padding:1rem;

$menu-link-width:110px;
$menu-link-padding:2rem;

$navbar-padding-top: 2.75rem;
/*$navbar-padding-bottom: calc(#{$navbar-padding-top} );*/

$navbar-padding-bottom: .8rem;

$dropdown-img-padding-top: 1.5rem;
$dropdown-img-caption-padding-top: 0;
$dropdown-caption-padding-top: .98rem;

$navbar-font-size: 1.25rem;
$navbar-column-font-size: $navbar-font-size;
$navbar-column-4-font-size:calc(#{$navbar-font-size} - .25rem);

$fig-caption-font-size:.9rem;

// z-indexes
$hero-img-overlay-zindex:1;
$img-overlay-info-zindex:2;

$dropdown-content-zindex:10;

$sliding-background-zindex:20;


// EXTENSIONS
%dropdown-animation {
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

// MIXINS
@mixin slide-animation {
  animation: slide .15s linear;
}

@mixin dropdown-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-anim;
}

@mixin dropdown-img-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-img-anim;
}

@mixin dropdown-img-caption-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-img-anim-caption;
}

@mixin dropdown-caption-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-anim-caption;
}

// PARTIALS
// fonts
@import '_fonts-github-partial.scss';

// slide show
@import '_slideShow-partial.scss';

// card flip
/*@import '_cardFlip-partial.scss';*/

//
body {
  min-width: 950px;
}

.img-wrapper img {
  height: 100px;
}

.fesc-image-container {
  padding: 1rem 0 1rem 1rem;
}

.nav-image-left {
  height: 100%;
}

.nav-image-right {
  height: 100%;
}


.main-content-wrapper {
  width: $main-page-width;
  margin: auto;
}

.search-bar {
  background-color: $uf-orange;
  height: 2rem;
  width: $main-page-width;
}

.nav-container {
  justify-content: space-between;
  height: 8rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

/*menu styling*/

.navbar {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-top: $navbar-padding-top;
  overflow: hidden;
  background-color: white;
  font-family: linkFont, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar a {
  /*font-size: 16px;*/
  font-size: $navbar-font-size;
  color: white;
  color: $uf-blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  overflow: hidden;
  &:hover .dropdown-content {
    display: block;
  }
  &:hover .sliding-background {
    /*width: $menu-link-width;*/
    background-clip: content-box;
    background: url(../images/main-menu-hover.png) no-repeat;
    background-position: center;
    background-color: $uf-menu-bg;
    @include slide-animation;
    z-index: 3;
    z-index: $sliding-background-zindex;
  }
}

.sliding-background {
  height: 1.75rem;
}

.dropbtn {
  font-size: $navbar-font-size;
  text-transform: uppercase;
  font-family: linkfont;
  border: none;
  outline: none;
  color: $uf-blue;
  font-weight: bold;
  padding: 1rem 1.5rem $navbar-padding-bottom 1.4rem;
  background-color: inherit;
  margin: 0;
  &:hover {
    background-color: $uf-menu-bg;
  }
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: $uf-menu-bg;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*margin-top:5.5rem;*/
  background-color: #f9f9f9;
  background-color: $uf-menu-bg;
  padding: 16px;
  /*width: 100%;*/
  width: $main-page-width;
  min-width: 950px;
  left: 0;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  z-index: 1;
  z-index: $dropdown-content-zindex;
}

.dropdown-content .header {
  background: $uf-menu-bg;
  padding: 16px;
  color: white;
  color: $uf-blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-img-container {
  @include dropdown-img-animation-mixin;
  padding-top: $dropdown-img-padding-top;
}

.dropdown-img-container-caption {
  @include dropdown-img-caption-animation-mixin;
  padding-top: .5rem;
  
}

.figcaption-text {
  font-size:$fig-caption-font-size;
}

.dropdown-img-container img {
  height: 200px;
}

.dropdown-img-container-caption img {  
  height: 200px; 
  display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33.33%;
  width: 30%;
  padding: 10px;
  background-color: #ccc;
  background-color: $uf-menu-bg;
  height: 250px;
}

.column-4 {
  float: left;
  width:22%;
  padding: 10px;
  background-color: $uf-menu-bg;
  height: 250px;
  h3 {
    font-size:calc(#{$navbar-column-4-font-size} + .1rem)
  }
}

.column a {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 16px;
  text-decoration: none;
  font-size:$navbar-column-font-size;
  display: block;
  text-align: left;
  @include dropdown-animation-mixin;
}


.column-4 a {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 16px;
  font-size: $navbar-column-4-font-size;
  text-decoration: none;
  display: block;
  text-align: left;
  @include dropdown-animation-mixin;
}

.column a:hover, .column-4 a:hover {
  color: $uf-orange-lighter;
  border-bottom: solid $separator-color 1px;
}


.dropdown-img-container-caption a {
  text-align:center;
}


.dropdown-img-container-caption a:hover {
  border-bottom:none;
}

.column-4 p {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 5px 16px;
  font-size: $navbar-column-4-font-size;
  text-decoration: none;
  display: block;
  text-align: left;  
  @include dropdown-caption-animation-mixin 
}

.caption-title {
  font-size: calc(#{$navbar-column-4-font-size} - .1rem);
}

/* Clear floats after the columns */

row {
  width: 95%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

// main image

.hero-image-wrapper {
  box-sizing: border-box;
  /*transform: translate(0, -3rem);*/
  position: relative;
  text-align: center;
  width: 100%;
  img {
    width: $main-page-width;
  }
}

.hero-image-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
  z-index: $hero-img-overlay-zindex;
}

.image-overlay-info {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  z-index: $img-overlay-info-zindex;
  color: white;
}

.hero-image-button-clicked {
  animation: fade .4s ease-out 1;
}

.hero-nav {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 87.5%;
  left: 50%;
  transform: translate(-87.5%, -50%);
}

.hero-image-text,
.image-overlay-info .overlay-info-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.2rem;
  font-size: 1.8rem;
  font-family: linkFont;
  transform: translate(-50%, -50%);
}

.image-overlay-info .overlay-info-text {
  width: 95%;
  height: 90%;
  font-size: .9rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 1.4rem;
}

.hero-nav .hero-nav-button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  background-color: rgba(0, 0, 0, .5);
  .fa-icon-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: white;

  }
}

.hero-nav-button:hover > .fa-icon-info {
  color: $uf-orange-lighter;
  cursor: pointer;
}

// Footer

.container {
  margin: auto;
}

footer {
  position: relative;
  /*top: -3.5rem;*/
  padding: 1rem 2rem 2rem 2rem;
}


.footer-fesc-logo {
  height: 75px;
}


.row-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.row-footer-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-footer {
  flex: 1;
}

.flex-grid {
  display: flex;
}

.cartouche {
  width: 8rem;
  margin: .125rem;
  padding: .25rem;
  background-color: white;
  border: solid $uf-blue-lighter 1px;
  border-radius: 15px;
  img {
    width: 100%;
    height: 100%;
  }
}

.col-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  padding: 1rem;
}

.footer-address {
  text-align: center;
  font-family: linkFont;
  font-size: 1rem;
}

.social-media-icons {
  padding-top: .35rem;
  img {
    height: 50px;
    margin: 0 .25rem .25rem .25rem;
  }
}

.icon-bubble {
  width: 50px;
  height: 50px;
  margin: 0 1rem 0 1rem;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  position: relative;
  border: solid $uf-orange 2px;
  .fa-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: $uf-orange;

  }
}

.icon-bubble:hover {
  width: 50px;
  height: 50px;
  margin: 0 1rem 0 1rem;
  text-align: center;
  border-radius: 50%;
  background-color: $uf-orange;
  position: relative;
  border: solid white 2px;
  .fa-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;

  }
}

// Animations
@keyframes dropdown-anim {
  from {
    padding: 0 16px 16px 16px;
    opacity: .25;
  }
  to {
    padding: 16px 16px 16px 16px;
    opacity: 1;
  }
}

@keyframes dropdown-img-anim {
  from {
    padding: 0 0 0 0;
    opacity: .25;
  }
  to {
    padding: $dropdown-img-padding-top 0 0 0;
    opacity: 1;
  }
}


@keyframes dropdown-img-anim-caption {
  from {
    /*padding: 0 0 0 0;*/
    margin: -1rem 0 0 0;
    opacity: .25;
  }
  to {
    margin: $dropdown-img-caption-padding-top 0 0 0;
    opacity: 1;
  }
}


@keyframes dropdown-anim-caption {
  from {
    /*padding: 0 0 0 0;*/
    margin: 0 0 0 0;
    opacity: .25;
  }
  to {
    margin: $dropdown-caption-padding-top 0 0 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: $menu-link-width;
    width: 50px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}



@media only screen and (max-width: 950px) {
  .image-overlay-info .overlay-info-text {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 900px) {
  .image-overlay-info .overlay-info-text {
    font-size: .8rem;
    overflow-y: scroll;
  }
  .image-overlay-info {
    height: 90%;
  }
}

// slide show media queries
@media only screen and (max-width: 300px) {
  .prev,
  .next,
    {
    font-size: 11px
  }
}


@media only screen and (max-width: 970px) {
  .text {
    font-size: .4rem;
    line-height: 1rem;
    padding: 2rem 3rem 0rem 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .text {
    font-size: .6rem;
    line-height: 1.1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .text {
    font-size: .7rem;
    line-height: 1.2rem;
  }
  .dropbtn {
    font-size:calc(#{$navbar-font-size} - .25rem);
  }
  .hero-nav .hero-nav-button {
    height: 35px;
    width: 35px;
  }
  .hero-nav .hero-nav-button .fa-icon-info {
    font-size: 1.2rem;
  }
  .hero-image-text,
  .image-overlay-info .overlay-info-text {
    font-size: 1.3rem;
  }
}


@media only screen and (max-width: 1200px) {
  .text {
    font-size: .9rem;
  }
}