$uf-orange: #b84300;
$uf-orange-lighter: lighten($uf-orange, 20%);
$uf-blue: #00529b;
$uf-blue-lighter: lighten($uf-blue, 10%);
$uf-menu-bg: #fffdf5;
$uf-menu-border:#eae5d7;
$separator-color:lightgray;
$page-content-text-color:black;

$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;

$min-page-width:950px;
$main-page-width:100%;
$drop-down-menu-padding:1rem;

$menu-link-width:110px;
$menu-link-padding:2rem;


$dropdown-img-padding-top: 1.5rem;
$dropdown-img-caption-padding-top: 0;
$dropdown-caption-padding-top: .98rem;
$navbar-padding-top: 2.75rem;
/*$navbar-padding-bottom: calc(#{$navbar-padding-top} );*/

$navbar-padding-bottom: .8rem;
$dropdown-img-padding-top: 1.5rem;
$dropdown-img-caption-padding-top: 0;
$dropdown-caption-padding-top: .98rem;

$navbar-font-size: 1.25rem;
$overlay-font-size:5rem;
$navbar-font-size: 1.25rem;
$navbar-column-font-size: $navbar-font-size;
$navbar-column-4-font-size:calc(#{$navbar-font-size} - .25rem);
$fig-caption-font-size:.9rem;

$searchbar-height: 2rem;
$navcontainer-height:8rem;
$blankbar-height:2rem;
$heronav-height:400px;

// z-indices
$page-content-zindex:1;
$heronav-zindex:2;
$heronav-inner-zindex:3;
$searchbar-zindex:4;
$navcontainer-zindex:4;
$dropdown-content-zindex:10;

$sliding-background-zindex:20;


// EXTENSIONS
%dropdown-animation {
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

// MIXINS
@mixin slide-animation {
  animation: slide .15s linear;
}

@mixin dropdown-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-anim;
}

@mixin dropdown-img-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-img-anim;
}


@mixin dropdown-img-caption-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-img-anim-caption;
}

@mixin dropdown-caption-animation-mixin {
  @extend %dropdown-animation;
  animation-name: dropdown-anim-caption;
}


// PARTIALS
// fonts
@import '_fonts-github-partial.scss';

// slide show
@import '_slideShow-partial.scss';

// bottom nav
@import '_bottomNav-partial.scss';

//
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// base site

.img-wrapper img {
  height: 100px;
}

.fesc-image-container {
  width:22rem;
  padding: 1rem 0 1rem 1rem;
  text-align: left;
}

.uf-image-container {
  width:8rem;
  text-align: right;
}

.nav-image-left {
  height: 100%;
}

.nav-image-right {
  height: 100%;
}

.main-content-wrapper {
  width: $main-page-width;
}

.search-bar {
  min-width: $min-page-width;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $uf-orange;
  height: $searchbar-height;
  width: $main-page-width;
  z-index: $searchbar-zindex;
}

.nav-container {
  min-width: $min-page-width;
  position: fixed;
  top: $searchbar-height;
  left: 0;
  width: 100%;
  height: $navcontainer-height;
  /*justify-content: space-between;*/
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  z-index: $navcontainer-zindex;
  background-color: white;
}


/*menu styling*/

.navbar {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  flex-wrap: wrap;
  width:110rem;
  padding-top: $navbar-padding-top;
  overflow: hidden;
  background-color: white;
  font-family: linkFont, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar a {
  /*font-size: 16px;*/
  font-size: $navbar-font-size;
  color: white;
  color: $uf-blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
  &:hover .dropdown-content {
    display: block;
  }
  &:hover .sliding-background {
    background-clip: content-box;
    background: url(../images/main-menu-hover.png) no-repeat;
    background-position: center;
    background-color: $uf-menu-bg;
    @include slide-animation;
    z-index: 3;
    z-index: $sliding-background-zindex;
  }
}

.sliding-background {
  height: 1.75rem;
}

.dropbtn,
.dropbtn-active {
  font-size: $navbar-font-size;
  text-transform: uppercase;
  font-family: linkfont;
  border: none;
  outline: none;
  color: $uf-blue;
  font-weight: bold;
  padding: 1rem 1.5rem $navbar-padding-bottom 1.4rem;
  background-color: inherit;
  margin: 0;
  &:hover {
    background-color: $uf-menu-bg;
  }
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: $uf-menu-bg;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  background-color: $uf-menu-bg;
  padding: 16px;
  width: $main-page-width;
  left: 0;
  z-index: 1;
  z-index: $dropdown-content-zindex;
}

.dropdown-content .header {
  background: $uf-menu-bg;
  padding: 16px;
  color: white;
  color: $uf-blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-img-container {
  @include dropdown-img-animation-mixin;
  padding-top: $dropdown-img-padding-top;
}

.dropdown-img-container img {
  height: 200px;
  text-align: center;
}

.figcaption-text {
  text-align: center;
}

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33.33%;
  width: 30%;
  padding: 10px;
  background-color: #ccc;
  background-color: $uf-menu-bg;
  height: 250px;
}


.column a {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  @include dropdown-animation-mixin;
}

.column a:hover {
  /*background-color: #ddd;*/
  color: $uf-orange-lighter;
  border-bottom: solid $separator-color 1px;
}

/* Clear floats after the columns */

row {
  width: 95%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


// parallax effect

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: $min-page-width;
  min-height: 850px;
}


.hero-nav {
  min-width: $min-page-width;
  position: fixed;
  top: 0;
  top:calc(#{$searchbar-height} + #{$navcontainer-height});
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $heronav-height;
  min-height: 105px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: $heronav-zindex;
  .hero-nav-inner {
    z-index: 1;
    z-index: $heronav-inner-zindex;
    font-family: linkFont;
  }
  h1 {
    color: #efefef;
    font-size: 5vw;
    font-size:$overlay-font-size;
  }
  &:before {
    content: "";
    background: rgba(#000, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 400ms;
  }
  &.fixme {
    &:before {
      background: rgba(#000, 0.8);
    }
  }
}

.page-content {
  box-sizing: border-box;
  min-width: $min-page-width;
  width: 30em;
  width: 95%;
  /*margin: 0 auto;*/
  margin: 12.5rem auto 5rem auto;
  padding:0 2rem;
  line-height: 1.625;
  color: $page-content-text-color;
  z-index: $page-content-zindex;
  .up-btn-wrapper {
    text-align: center;
  }
  .up-btn-wrapper .up-btn {
    font-size: 2.5rem;
    color: $uf-orange;
  }
  a, a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color:$uf-orange;
    font-weight:700;
  }
  a:hover {
    color:$uf-orange-lighter;
  }
}

.up-btn-wrapper .up-btn:hover {
  color: $uf-orange-lighter;
  transition: color .2s linear;
}

// ACTIVE PAGE
.active-link {
  color: $uf-orange-lighter;
}

.dropbtn-active:hover {
  background-color: white;
}

// 4-column layout for top nav

.column-4 {
  float: left;
  width:22%;
  padding: 10px;
  background-color: $uf-menu-bg;
  height: 250px;
  h3 {
    font-size:calc(#{$navbar-column-4-font-size} + .1rem)
  }
}


.column-4 a {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 16px;
  font-size: $navbar-column-4-font-size;
  text-decoration: none;
  display: block;
  text-align: left;
  @include dropdown-animation-mixin;
}

.column-4 a:hover {
  color: $uf-orange-lighter;
  border-bottom: solid $separator-color 1px;
}


.column-4 p {
  float: none;
  color: black;
  color: $uf-blue;
  padding: 5px 16px;
  font-size: $navbar-column-4-font-size;
  text-decoration: none;
  display: block;
  text-align: left;  
  @include dropdown-caption-animation-mixin 
}

.caption-title {
  font-size: calc(#{$navbar-column-4-font-size} - .1rem);
}

// 'about' layout

.dropdown-img-container-caption {
  @include dropdown-img-caption-animation-mixin;
  padding-top: .5rem;
}

.figcaption-text {
  font-size:$fig-caption-font-size;
}

.dropdown-img-container-caption img {  
  height: 200px; 
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption-title {
  font-size: calc(#{$navbar-column-4-font-size} - .1rem);
}

.dropdown-img-container-caption a {
  text-align:center;
}

.dropdown-img-container-caption a:hover {
  border-bottom:none;
}
// ANIMATIONS

@keyframes dropdown-anim {
  from {
    padding: 0 16px 16px 16px;
    opacity: .25;
  }
  to {
    padding: 16px 16px 16px 16px;
    opacity: 1;
  }
}

@keyframes dropdown-img-anim {
  from {
    padding: 0 0 0 0;
    opacity: .25;
  }
  to {
    padding: $dropdown-img-padding-top 0 0 0;
    opacity: 1;
  }
}


@keyframes dropdown-img-anim-caption {
  from {
    /*padding: 0 0 0 0;*/
    margin: -1rem 0 0 0;
    opacity: .25;
  }
  to {
    margin: $dropdown-img-caption-padding-top 0 0 0;
    opacity: 1;
  }
}


@keyframes dropdown-anim-caption {
  from {
    margin: 0 0 0 0;
    opacity: .25;
  }
  to {
    margin: $dropdown-caption-padding-top 0 0 0;
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: $menu-link-width;
    width: 50px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}


/* Media Queries */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}



@media only screen and (max-width: 950px) {
  .image-overlay-info .overlay-info-text {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 900px) {
  .image-overlay-info .overlay-info-text {
    font-size: .8rem;
    overflow-y: scroll;
  }
  .image-overlay-info {
    height: 90%;
  }
}

// slide show media queries
@media only screen and (max-width: 300px) {
  .prev,
  .next,
    {
    font-size: 11px
  }
}


@media only screen and (max-width: 970px) {
  .text {
    font-size: .4rem;
    line-height: 1rem;
    padding: 2rem 3rem 0rem 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .text {
    font-size: .6rem;
    line-height: 1.1rem;
  }
  .dropbtn,
  .dropbtn-active {
    font-size:calc(#{$navbar-font-size} - .35rem);
  }
  
}

@media only screen and (max-width: 1100px) {
  .text {
    font-size: .7rem;
    line-height: 1.2rem;
  }
  .dropbtn,
  .dropbtn-active {
    font-size:calc(#{$navbar-font-size} - .25rem);
  }
  .bottom-nav-title {
    font-size: .9rem;
  }
  .hero-nav h1 {
    font-size:calc(#{$overlay-font-size} - 1rem);
  }
}


@media only screen and (max-width: 1200px) {
  .text {
    font-size: .9rem;
  }
}